:root {
  font-family: 'ABeeZee', sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--colorBgLayout, rgba(245, 245, 245, 1));
}

#root {
  width: 100%;
  min-height: 100vh;
}